/node_modules
/public/hot
/public/storage
/public/downloads
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.tar.gz
*.zip
/public/vendor/livewire
public/downloads/
.expo/
/database/*.sqlite
